In [38]:
import pandas as pd

In [39]:
wb_class = pd.read_csv("../data/raw/world-bank-income-groups.csv")
wb_pops = pd.read_csv("../data/raw/API_SP.POP.TOTL_DS2_en_csv_v2_38144/API_SP.POP.TOTL_DS2_en_csv_v2_38144.csv", skiprows=3)

In [40]:
year = 2021 # Want 2021 population counts

In [41]:
wb_class = wb_class.rename(columns=lambda s: s.lower().replace(' ', '_'))
wb_class = wb_class.rename(columns={"world_bank's_income_classification": 'income_group'})
wb_class = wb_class[wb_class['year'] == year]
wb_class

              entity code  year                   income_group
34       Afghanistan  AFG  2021           Low-income countries
69           Albania  ALB  2021  Upper-middle-income countries
107          Algeria  DZA  2021  Lower-middle-income countries
145   American Samoa  ASM  2021  Upper-middle-income countries
180          Andorra  AND  2021          High-income countries
...              ...  ...   ...                            ...
7759         Vanuatu  VUT  2021  Lower-middle-income countries
7830         Vietnam  VNM  2021  Lower-middle-income countries
7868           Yemen  YEM  2021           Low-income countries
7911          Zambia  ZMB  2021           Low-income countries
7949        Zimbabwe  ZWE  2021  Lower-middle-income countries

[219 rows x 4 columns]

In [43]:
wb_pops_long = wb_pops \
    .rename(columns=lambda s: s.lower().replace(' ', '_')) \
    .drop(columns=['indicator_name', 'indicator_code']) \
    .rename(columns={'country_code': 'code'})

wb_pops_long = wb_pops_long.melt(id_vars=['country_name', 'code'], value_name='pop', var_name='year')
wb_pops_long = wb_pops_long[~wb_pops_long['year'].str.contains('unnamed')]
wb_pops_long['year'] = wb_pops_long['year'].astype(int)
wb_pops_long = wb_pops_long[wb_pops_long['year'] == year]

In [49]:
pops_with_class = wb_class.merge(wb_pops_long[['code', 'pop']], on='code', how='left')
pop_by_income_group = pops_with_class.groupby(['income_group'])['pop'].sum()

In [51]:
pop_by_income_group.to_csv('../data/clean/pop_by_income_group_2021.csv')